*{ margin: 0;
box-sizing: border-box;
font-family: "Cairo", sans-serif;}
svg{height: 14px;}
#header{ height: 40px;
background-color: #F5F5F5;
display: flex;}

#header-left svg{height: 15px;
padding-left: 375.5px;}

#header-right{display: flex;
  padding-left: 370px;}

#face>svg{ height: 14px;
padding-right: 15px;}

#tw>svg{height: 14px;
  padding-right: 15px}

#in>svg{height: 14px;
  padding-right: 15px}

#pint>svg{padding-right: 15px}

#use>svg{padding-right: 6px;
padding-left: 30px;}

#main{ display:grid;
grid-template-columns: 1.3fr 1.3fr 1fr 1.3fr 1.3fr 1.3fr;
grid-template-rows: 80px 80px 431px 271px;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;}

#main >div {}

#coracao{padding-right: 15px}

#sacola{padding-right: 15px}

#logo{ grid-column: 2;
text-align: center;}

#put{ width: 40%;
height: 50px;}

#nav{ grid-column: 3/6;
grid-row-end: span 2;}

#menu{grid-column: 20;
grid-row: 2/4;}

#busca{grid-column: 3/6;
grid-column: 2;}

.ul{font-size: 16px;
color: #1c1c1c;
line-height: 39px;
display: block;
font-weight: 400; padding-top: 35px;}

.li{font-weight: 400;}

#banner{grid-column: 3/6;
grid-row: 3;}

#pro1{grid-row: 4;
grid-column: 2;}

#pro2{grid-row: 4;
grid-column: 3;}

#pro3{grid-row: 4;
grid-column: 4;}

#pro4{grid-row: 4;
grid-column: 5;}

#nav01{display: flex;}

#nav02{font-weight: 900;}

.site-btn{font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #7fad39;
  border: none;}

#nav01>ul{padding: 0;
display: flex;
justify-content: space-around;
width: 100%;}

li{list-style: none;
font-weight: 900;}

#busca{background: #7fad39;
position: relative ;
padding: 10px 25px 10px 40px;
cursor: pointer;
font-weight: 900;
font-size: 18px;
font-weight: 700;
height: 70%;}

#coracao{height: 18px;}

#sacola{height: 18px;}

#banner{background-color:#F5F5F5 ;}

#banner>span{font-weight: 900;
color: #7fad39;}

#banner>h2{font-size: 46px;
color: #252525;
line-height: 52px;
font-weight: 700;
margin: 10px 0;
font-weight: 900;
padding-top: 45px;}

#banner{background-image: url(https://preview.colorlib.com/theme/ogani/img/hero/banner.jpg.webp);}

#pro1{background-image: url(file:///H:/DISPLAY_GRID/cat-1.jpg.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: top center;}

#pro2{background-image: url(file:///H:/DISPLAY_GRID/cat-2.jpg.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: top center;}

#pro3{background-image: url(file:///H:/DISPLAY_GRID/cat-3.jpg.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: top center;}

#pro4{background-image: url(file:///H:/DISPLAY_GRID/cat-4.jpg.webp);
background-repeat: no-repeat;
background-size: cover;
background-position: top center;}

#text>h1{text-align: center;
  font-weight: 900}

#text2{text-align: center;}

#produtos{display: grid;
grid-template-columns: 1.3fr 1.3fr 1fr 1.3fr 1.3fr 1.3fr;
grid-template-rows: 300px 100px 300px 100px;}

.frutas{text-align: center;
padding-top: 15px;}

#img{text-align: center;
padding-top: 30px;}
#img01{
  margin-right: 20px;
}
   #catalog-head{
      grid-column: 2/6;
      grid-row: 1;
  }
  #catalog-title{
      display: flex;
      justify-content: center;
      position: relative;
  }
  #catalog-title h2{
      font-size: 36px;
  }
  #catalog-title::after{
      position: absolute;
      left: 0;
      bottom: -2px;
      right: 0;
      height: 4px;
      width: 80px;
      background: #7fad39;
      content: "";
      margin: 0 auto;
  }
  #catalog-categories{
      display: flex;
      justify-content: center;
      gap: 2rem;
      align-items: baseline;
  }
  #catalog-categories h3{
      font-weight: 400;
      position: relative;
  }
  .cat-all::after{
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background: #7fad39;
      content: "";
  }
  #catalog-product1{
      grid-column: 2;
      grid-row: 2;
      background-image: url(feature-1.jpg);
  }
  #catalog-product2{
      grid-column: 3;
      grid-row: 2;
      background-image: url(feature-2.jpg);
  }
  #catalog-product3{
      grid-column: 4;
      grid-row: 2;
      background-image: url(feature-3.jpg);
  }
  #catalog-product4{
      grid-column: 5;
      grid-row: 2;
      background-image: url(feature-4.jpg);
  }
  #catalog-product5{
      grid-column: 2;
      grid-row: 3;
      background-image: url(feature-5.jpg);
  }
  #catalog-product6{
      grid-column: 3;
      grid-row: 3;
      background-image: url(feature-6.jpg);
  }
  #catalog-product7{
      grid-column: 4;
      grid-row: 3;
      background-image: url(feature-7.jpg);
  }
  #catalog-product8{
      grid-column: 5;
      grid-row: 3;
      background-image: url(feature-8.jpg);
  } 
  .cat-products-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-color: white;
  }
  .cat-products-content ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 6px;
      position: absolute;
      bottom: 60px;
      z-index: -99;
      transition: all 0.3s ease;
  }
  .cat-products-content ul li{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      align-content: center;
      text-align: center;
      background-color: white;
      transition: 0.3s ease;
  }
  .cat-products-content ul li:hover{
      color: white;
      background-color: #7fad39;
      transform: rotate(360deg);
  }
  .cat-products-content:hover ul{
      bottom: 90px;
      z-index: 100;
  }
  #section-banners{
      display: flex;
      gap: 30px;
      justify-content: center;
  }
  #section-ltr{
      padding-top: 80px;
  }
  #ltr-content{
      display: flex;
      justify-content: center;
      gap: 30px;
  }
  .ltr-items{
      width: 360px;
  }
  .ltr-items img{
      margin: 0px 20px 10px 0px;
  }
  .ltr-items h4{
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 45px;
      font-weight: 800 !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .ltr-items button{
      height: 30px;
      width: 30px;
      background-color: #f3f6fa;
      border: solid 1px #e6e6e6;
      align-content: center;
  }
  #ltr-buttons{
      margin-right: .675rem;
      display: flex;
      gap: 10px;
  }
  .ltr-items i{
      height: 10px;
      width: 10px;
      color: #636363;
  }
  .ltr-items a{
      display: flex;
      text-decoration: none;
  }
  .ltr-text{
      color: #252525;
  }
  .ltr-text h6{
      margin: 0;
      font-size: 16px;
      margin-bottom: 8px;
      font-weight: 400;
  }
  .ltr-text span{
      font-weight: 700;
      font-size: 18px;
  }
  #ftblog{
      padding: 50px 0px;
  }
  #ftb-content{
      display: flex;
      justify-content: center;
      gap: 30px;
  }
  .ftb-article{
      max-width: 360px;
  }
  #ftb-title{
      text-align: center;
      color: #1c1c1c;
      font-weight: bolder;
      position: relative;
      font-size: 29px;
  }
  #ftb-title h1 {
       font-weight: bolder;
  }
  #ftb-title::after {
      position: absolute;
      left: 0;
      bottom: 0px;
      right: 0;
      height: 4px;
      width: 80px;
      background: #7fad39;
      content: "";
      margin: 0 auto;
  }
  .ftb-article span{
      display: flex;
      align-items: center;
      color: #b2b2b2;
      margin-bottom: 15px;
      padding-top: 15px;
  }
  .ftb-article span p{
      padding-right: 10px;
  }
  .ftb-article i{
      padding-right: 5px;
  }
  .ftb-article h4{
      font-size: 20px;
      margin: 0;
      font-weight: 700;
  }
  .ftb-article h6{
      font-size: 16px;
      font-family: "Cairo", sans-serif;
      color: #6f6f6f;
      font-weight: 400;
      line-height: 26px;
      margin: 0 0 15px 0;
  }
  footer{
      display: grid;
      grid-template-columns: .9fr 1fr 1fr 1fr .9fr;
      grid-template-rows: 251px 62px;
      background-color: #f3f6fa;
      padding-top: 70px;
  }
  #footer-address{
      grid-column: 2;
  }
  #footer-address p{
      margin: 10px 0px;
  }
  #footer-links{
      grid-column: 3;
  }
  #footer-links h2{
      font-size: 16px;
      margin: 0px 0px 10px;
  }
  #footer-links-ul{
      display: flex;
      gap: 50px;
      color: #1c1c1c;
  }
  #footer-links-ul ul{
      margin: 0;
      list-style: none;
      padding: 0;
  }
  #footer-links-ul ul li a{
      text-decoration: none;
      color: #1c1c1c;
      font-size: 14px;
  }
  #footer-newsletter{
      grid-column: 4;
  }
  #footer-newsletter h4{
      margin: 0px 0px 10px;
      font-size: 16px;
  }
  #footer-newsletter p{
      margin: 0px 0px 30px;
      font-size: 14px;
  }
  #footer-newsletter ul{
      display: flex;
      margin: 0;
      list-style: none;
      gap: 10px;
      padding: 0;
      margin: 20px 0px;
  }
  #footer-newsletter ul li{
      margin: 0;
      width: 41px;
      height: 41px;
      background-color: white;
      border-radius: 50%;
      align-content: center;
      text-align: center;
      transition: .3s ease;
  }
  #footer-newsletter ul li:hover{
      background-color: #7fad39;
      color: white;
  }
  #footer-newsletter ul li {
      color: #000000;
  }
  #footer-newsletter ul li:hover+.fa-hover i{
      color: white !important;
  }
  #footer-newsletter-subscribe{
      display: inline-flex;
  }
  #footer-newsletter-subscribe input{
      font-family: "cairo";
      height: 100%;
      font-size: 16px;
      color: #b2b2b2;
      font-weight: 400;
      width: 13rem;
      font-size: 16px;
      padding: 0px 2px 1px 20px;
      color: #1c1c1c;
      height: 42px;
      border: 1px solid #ededed;
  }
  #footer-newsletter-subscribe input:focus{
      outline: none;
  }
  #footer-newsletter-subscribe input::placeholder{
      color: #1c1c1c;
  }
  #footer-newsletter-subscribe a{
      text-decoration: none;
      color: white;
      background-color: #7fad39;
      align-content: center;
      font-family: "cairo";
      font-size: .95rem;
      font-weight:800 ;
      width: 7.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  #footer-ARR{
      grid-column: 2/5;
      grid-row: 2;
      display: flex;
      justify-content: space-between;
      padding: 15px 0px;
      border-top: 1px solid #ebebeb;
  }
  #footer-ARR img{
      width: 286px;
      height: 23px;
  }
  #footer-ARR a{
      text-decoration: none;
      color: #007bff;}

  #footer-ARR a:hover{color: white;}
